# Logs
*.log

# Node dependencies
node_modules/

# Build artifacts and local development files
dashboard/

# OS-specific
.DS_Store
Thumbs.db

# Cloudflare/Vercel/Netlify local dev
.wrangler/
.vercel/
.netlify/

# Environment variables
.env*

# Ignore images in the root directory
/*.png
/*.jpg


# Build Edge Functions
#supabase/
*.ts